.rowC{
    display:flex; 
    width:80%
}


.rowEl1{
    width: 23%; 
    float:left; 
    margin: 10%;
}

.rowEl2{
    width: 23%; 
    float:left; 
    margin: 10%;
}

.rowEl3{
    width: 15%; 
    float:left; 
    margin: 10%;
}

